## Test Training Features

In [1]:
import pandas as pd
from feature_eng_adrien import feature_training_adrien
from feature_eng_adrien import feature_test_adrien

train_rough = pd.read_parquet('./data/train.parquet')
train_rough.head()

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
48321,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48324,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48327,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48330,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48333,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.302585

In [2]:
feature_engineer = feature_training_adrien.FeatureEngineer()
train = feature_engineer.transform(train_rough)
train.head()

,site_id,latitude,longitude,log_bike_count,year,hour,is_weekend,is_holiday,season,season_sin,season_cos,month_sin,month_cos,weekday_sin,weekday_cos
date,,,,,,,,,,,,,,,
2020-09-01 02:00:00,100007049,48.846028,2.375429,0.000000,2020,2,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,0.781831,0.62349
2020-09-01 03:00:00,100007049,48.846028,2.375429,0.693147,2020,3,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,0.781831,0.62349
2020-09-01 04:00:00,100007049,48.846028,2.375429,0.000000,2020,4,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,0.781831,0.62349
2020-09-01 15:00:00,100007049,48.846028,2.375429,1.609438,2020,15,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,0.781831,0.62349
2020-09-01 18:00:00,100007049,48.846028,2.375429,2.302585,2020,18,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,0.781831,0.62349

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 496827 entries, 2020-09-01 02:00:00 to 2021-09-09 23:00:00
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   site_id         496827 non-null  int64
 1   latitude        496827 non-null  float64
 2   longitude       496827 non-null  float64
 3   log_bike_count  496827 non-null  float64
 4   year            496827 non-null  int32
 5   hour            496827 non-null  int32
 6   is_weekend      496827 non-null  int64
 7   is_holiday      496827 non-null  int64
 8   season          496827 non-null  int64
 9   season_sin      496827 non-null  float64
 10  season_cos      496827 non-null  float64
 11  month_sin       496827 non-null  float64
 12  month_cos       496827 non-null  float64
 13  weekday_sin     496827 non-null  float64
 14  weekday_cos     496827 non-null  float64
dtypes: float64(9), int32(2), int64(4)
memory usage: 56.9 MB

## Test test features

In [4]:
test_rough = pd.read_parquet('./data/final_test.parquet')
test_rough.head()

,counter_id,counter_name,site_id,site_name,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude
0,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 01:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
1,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 13:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
2,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 17:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
3,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 19:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
4,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 22:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429

In [7]:
feature_engineer_test = feature_test_adrien.FeatureEngineerTest()
test = feature_engineer_test.transform(test_rough)
test.head()

,site_id,latitude,longitude,year,hour,is_weekend,is_holiday,season,season_sin,season_cos,month_sin,month_cos,weekday_sin,weekday_cos
date,,,,,,,,,,,,,,
2021-09-10 01:00:00,100007049,48.846028,2.375429,2021,1,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,-0.433884,-0.900969
2021-09-10 13:00:00,100007049,48.846028,2.375429,2021,13,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,-0.433884,-0.900969
2021-09-10 17:00:00,100007049,48.846028,2.375429,2021,17,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,-0.433884,-0.900969
2021-09-10 19:00:00,100007049,48.846028,2.375429,2021,19,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,-0.433884,-0.900969
2021-09-10 22:00:00,100007049,48.846028,2.375429,2021,22,0,0,1,0.841471,0.540302,-1.0,-1.836970e-16,-0.433884,-0.900969

## Pipeline

In [9]:
import pandas as pd
import numpy as np
from feature_eng_adrien import feature_training_adrien
from feature_eng_adrien import feature_test_adrien
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler


train_rough = pd.read_parquet('./data/train.parquet')
test_rough = pd.read_parquet('./data/final_test.parquet')

train = feature_engineer.transform(train_rough)
test = feature_engineer_test.transform(test_rough)

X = train.drop(columns='log_bike_count')
y = train['log_bike_count']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


pipeline = Pipeline([
    ('regressor', LinearRegression())])
pipeline.fit(X_train, y_train)


y_pred = pipeline.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
cv_scores = cross_val_score(pipeline, X, y, cv=4, scoring='neg_mean_squared_error')
print(f"Cross-validated Mean Squared Error: {-cv_scores.mean()}")


y_pred = pipeline.predict(test)
results = pd.DataFrame(
    dict(
        Id=np.arange(y_pred.shape[0]),
        log_bike_count=y_pred,
    )
)
results.to_csv("submission.csv", index=False)

Mean Squared Error: 2.3982456350346917
Cross-validated Mean Squared Error: 122039.09584661356